<!-- admin.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Products</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
          
          <div class="col" *ngFor="let product of products">
            <div class="card h-100">
              <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text"><strong>Price: {{product.price | currency:'INR'}}</strong></p>
              </div>
              <div class="card-footer">
               
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="{{product._id}}" (change)="toggleProduct(product)" [checked]="isSelected(product)">
                  <label class="form-check-label" for="{{product._id}}">Select</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h2>New Deal</h2>
       
        <form>
         
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newDeal.name" name="name">
          </div>
         
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="newDeal.description" name="description">
          </div>
        
          <div class="mb-3">
            <label for="discount" class="form-label">Discount (%)</label>
            <input type="number" class="form-control" id="discount" [(ngModel)]="newDeal.discount" name="discount">
          </div>
         
          <button type="button" class="btn btn-primary" (click)="createDeal()">Create</button>
        </form>
       
        <h2>Current Deals</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let deal of deals">{{deal.name}} - {{deal.description}} - {{deal.discount}}%</li>
        </ul>
      </div>
    </div>
  </div>
  